---

---
<footer>
  <div>
    <p>Designed + Developed by <a href="/">me</a> with Astro, Supabase, and Netlify</p>
  </div>
</footer>
<style>
footer {
  background-color: var(--white-color);
  margin-top: var(--border-width);
  /* border: solid var(--border-width) var(--dark-color); */
  /* border-style: solid none none none; */
  font-weight: 400;
}
footer div {
  padding: var(--border-width);
}
footer div {
}
@media screen and (min-width: 600px) {
    footer {
      /* border-style: solid none; */
    }
  }
</style>