---

---
<footer>
  <div>
    <p>Designed + Developed by <a href="/">me</a> with Astro, Supabase, and Netlify</p>
  </div>
</footer>
<style>
footer {
  background-color: var(--white-color);
  border-top: solid var(--border-width) var(--dark-color);
}
footer div {
  padding: var(--border-width);
}
footer div {
}
</style>