---
---
<footer class="--p">
    Designed + Developed by <a href="/#home">me</a> with Astro, Supabase, and Netlify
</footer>
<style>
footer {
  background-color: var(--white-color);
  border-top: solid var(--border-width) var(--dark-color);
  padding: var(--size-300) !important;
}
</style>