---
---
<div class="header">
  <div class="header-logo">
    <h5> marlon <b>frausto</b> </h5>
  </div>
  <ul class="header-navigation">
    <li class="h6 light-text">
      <a href="/">home</a>
    </li>
    <li class="h6 light-text">
      <a href="/posty">blog</a>
    </li>
  </ul>
  <div class="header-cta h6">
    <a href="/aboutro">contact <br>/ hire</a>
  </div>
</div>
<style>
  .header {
    padding: var(--border-width) 0 0;
    /* padding: 0 0 var(--border-width); */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--border-width);
  }
  /* header logo section */
  .header-logo {
    background-color: white;
    grid-column: 1/3;
    grid-row: 1;
    place-items: center;
    display: grid;
  }
  .header-logo > * {
    margin: 0;
    font-weight: 300;
    text-align: center;
  }
  /* header naviation section */
  .header-navigation {
    background-color: white;
    margin: 0;
    padding: 0;
    display: grid;
    grid-column: 1/3;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    gap: var(--border-width);
    place-items: center;
  }
  li {
    list-style: none;
  }
  .header-navigation li a {
    color: var(--dark-color);
    font-weight: 600;
    text-decoration: none;
  }
  /* header cta section */
  .header-cta {
    background-color: var(--blue-color);
    text-align: center;
    display: grid;
    grid-column: 3/4;
    grid-row: 1/3;
    align-items: center;
    animation: colorChangeBackground 16s ease -12000ms infinite both;
  }
  .header-cta a {
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
  /* screen level responsive design */
  @media screen and (min-width: 600px) {
    .header {
      grid-template-columns: 2fr 5fr 2fr;
      /* gap: 0.5rem; */
      /* padding: 0.5rem 0; */
    padding: 0 0 var(--border-width);
    }
    .header-logo {
      grid-row: 1/3;
      grid-column: 1/2;
    }
    .header-navigation {
      grid-row: 1/3;
      grid-column: 2/3;
      gap: var(--border-width)
    }
  }
</style>