---
---
<div class="header">
  <div class="header__logo">
    <h4 class="--thin-text"> marlon <b>frausto</b> </h4>
  </div>
  <ul class="header__navigation">
    <li class="--h6">
      <a href="/#home">home</a>
    </li>
    <li class="--h6">
      <a href="/#about">about</a>
    </li>
    <li class="--h6">
      <a href="/blog">blog</a>
    </li>
  </ul>
  <div class="header__cta --h6">
    <a href="/contact">contact / hire</a>
  </div>
</div>

<style>
  .header {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo logo cta" 
    "navigation navigation cta";
    gap: var(--border-width);
    padding: var(--border-width) 0 0;
  }
  .header__logo {
    display: grid;
    grid-area: logo;
    padding: 0 var(--size-300);
    text-align: center;
    place-items: center;
    background-color: var(--white-color);
  }
  .header__navigation {
    display: grid;
    grid-area: navigation;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: var(--border-width);
    background-color: var(--white-color);
  }
  .header__navigation li {
    list-style: none;
  }
  .header__navigation li a {
    text-decoration: none;
  }
  .header__cta {
    display: grid;
    grid-area: cta;
    align-items: center;
    text-align: center;
    background-color: var(--blue-color);
    padding: 0 var(--size-300);
    animation: colorChangeBackground 9s ease -6s infinite both;
  }
  .header__cta a {
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
  @media screen and (min-width: 700px) {
    .header {
      grid-template-columns: 2fr 5fr 2fr;
      grid-template-rows: 1fr;
      grid-template-areas: 
      "logo navigation cta";
      padding: 0 0 var(--border-width);
    }
    .header__logo {
      grid-area: logo;
    }
    .header__navigation {
      grid-area: navigation;
      gap: var(--border-width);
    }
  }
</style>