---
const { tags } = Astro.props
---
<ul class="tag-cloud --thin-text --p">
  { tags.map((tag) => (
    <li>
      { tag }
    </li>
  ))}
</ul>
<style>
.tag-cloud {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0rem;
}
.tag-cloud li {
  list-style-type: none;
  padding: var(--border-width);
  margin: .2rem;
  border: .2rem solid var(--dark-color);
}
</style>