---
const { tags } = Astro.props
---
<ul class="tag-cloud light-text p">
  { tags ?
    tags.map((tag) => (
    <li>
      {tag}
    </li>
  )) :
    <li><a href="">example</a></li>
    <li><a href="">example</a></li>
    <li><a href="">example</a></li>
    <li><a href="">example</a></li>
  }
</ul>
<style>
.tag-cloud li {
  list-style-type: none;
  padding: .5rem;
  margin: .23rem;
  border: .25rem solid var(--dark-color);
}
.tag-cloud li a {
  text-decoration: none;
}
.tag-cloud {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
  }
</style>