---
import "../styles/animations/colorChange.css";
import "../styles/animations/waving.css";
import "../styles/theme.css";
import Mardrian from "../components/backgrounds/Mardrian.astro";
import TitleText from "../components/atoms/TitleText.astro";
import TagCloud from "../components/kit/TagCloud.astro";
import SiteLayout from "../layouts/SiteLayout.astro";

---
<SiteLayout pageTitle="hellaz">
  <Mardrian containerHeight="100%">
    <div class="hero-text">
      <div class="hero">
        <div class="her">
          <div>
            <h3 style="margin-top:1rem;">contact <span style="color:var(--blue-color);">/</span> hire</h3>
            <h6 class="light-text" style="margin-top:1rem;">Feel free to get in touch by writing me at <b>marlonjfrausto@gmail.com</b></h6>
            <h6 class="light-text" style="margin-top:1rem;">If you are interested in hiring me, please include a bit about the project/product you have in mind, start/end times, budget, and anything else you might deem relevant to start the conversation.</h6>
            <h6 class="light-text" style="margin-top:1rem;">I will usually respond to new inquiries within 2 working days.</h6>
            <h6 class="light-text" style="margin-top:1rem;">Thank you and looking foward to hearing from you!</h6>
          </div>
        </div>
      </div>
    </div>
  </Mardrian>
</SiteLayout>
<style>
  .her {
    max-width: 900px;
    display: grid;
    justify-content: space-between;
    height: 100%;
  }
  .hero {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    padding: var(--size-300);
    place-items: center;
    border: var(--border-width) solid var(--dark-color);
    border-style: solid none;
  }
  .hero-text {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
  }
</style>