---
import "../styles/animations/colorChange.css";
import "../styles/animations/waving.css";
import "../styles/theme.css";
import ArtDivider from "../components/kit/ArtDivider.astro";
import Card from "../components/Card.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---
<SiteLayout pageTitle="hellaz" pageColor="white">
  <div class="blog-index">
    <div class="blog-index--title">
      <h2>
        <span class="light-text">the </span>blog
      </h2>
    </div>
    <div class="blog-index--entries">
      {
        allPosts.map((post) => (
          <Card post={post}/>
          <ArtDivider />
        ))
      }
    </div>
  </div>
</SiteLayout>
