---
import "../styles/animations/colorChange.css";
import "../styles/animations/waving.css";
import "../styles/theme.css";
import SiteLayout from "../layouts/SiteLayout.astro";
import ArtDivider from "../components/kit/ArtDivider.astro";
import Card from "../components/Card.astro";
const allPosts = await Astro.glob("../pages/blog/*.md");
---
<SiteLayout pageTitle="the blog" >
  <div class="blog">
    <h2 class="blog__title">
      <span class="--light-text">the </span>blog
    </h2>
    <div class="blog__entries">
      { allPosts.map((post, index, {length}) => {
        if (index + 1 === length) {
          return (
            <div class="blog__entry">
              <Card post={post}/>
            </div>
            <ArtDivider height="0.7rem" width="100%" 
              borderBottom="none"
            />
          )
        }
        return (
          <div class="blog__entry">
            <Card post={post}/>
          </div>
          <ArtDivider height="1rem" width="100%" />
        )
      })}
    </div>
  </div>
</SiteLayout>

<style>
  .blog {
    width: 100%;
    background-color: white;
  }
  .blog__title{
    text-align: center;
    padding: 2rem 0;
    border-bottom: var(--border-width) solid;
  }
  .blog__entry {
    width: 90%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;    
  }
  .blog__entries {
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1000px) {
    .blog__entries {
      max-width: 50rem;
    }
  }
</style>
