---
import "../styles/animations/colorChange.css";
import "../styles/animations/waving.css";
import SiteLayout from "../layouts/SiteLayout.astro";
import Mardrian from "../components/backgrounds/Mardrian.astro";
import HeroContent from "../components/HeroContent.astro";
---
<SiteLayout pageTitle="contact / hire">
  <Mardrian containerHeight="100%">
    <HeroContent placeContent="center">
      <h2>
        <span class="--thin-text">contact</span>
        <span class="--blue-color">/</span>
        hire
      </h2>
      <h6 class="--thin-text --margin-top">Feel free to get in touch by writing me at <b>marlonjfrausto@gmail.com</b></h6>
      <h6 class="--thin-text --margin-top">If you are interested in hiring me, please include a bit about the project/product you have in mind, start/end times, budget, and anything else you might deem relevant to start the conversation.</h6>
    </HeroContent>
  </Mardrian>
</SiteLayout>