---
import "../styles/animations/colorChange.css";
import "../styles/animations/waving.css";
import "../styles/theme.css";
import Mardrian from "../components/backgrounds/Mardrian.astro";
import TitleText from "../components/atoms/TitleText.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout pageTitle="hellaz">
  <Mardrian containerHeight="100%">
    <div id="home" class="hero-text">
      <div class="hero">
        <div class="her">
          <h1>Hello <span class="waving">👋</span></h1>
          <h3 class=" light-text">thanks for visiting my site </h3>
          <!-- <span class="">😬</span>  -->
          <h6 class="light-text" style="margin-top:1rem;">I'm a full-stack designer + developer specializing in component-based design systems, customer development, and lean/agile methodologies.</h6>
          <h5 style="margin-top:1rem;"><a href="/#about">about</a> <span class="light-text">|</span> <a href="/blog">blog</a> <span class="light-text">|</span> <a href="/contact">contact / hire</a></h5>
        </div>
      </div>
    </div>
  </Mardrian>
  <div  id="about">
      <div class="about-section">
        <h2 class="light-text">About <b>Me</b></h2>
        <h6 class="light-text" style="margin-top:1rem;">
          I&#8217;m Marlon Frausto (he/him) and I work as a full-stack engineer specializing in component-based design systems, production-grade APIs, customer development, and agile/lean methodologies. 
        </h6>
        <h6 class="light-text" style="margin-top:1rem;">
          I trained as an engineer in San Francisco, CA, at the world&#8217;s first coding bootcamp in 2014, and have been coding professionally ever since. 
        </h6>
        <h6 class="light-text" style="margin-top:1rem;">
          Most recently I helped co-found multitaskr as CTO and have since moved on to build an independent consulting practice.
        </h6>
        <h6 class="light-text" style="margin-top:1rem;">
          You can find out about the latest tools, problems, or products I&#8217;m working on by checking out my blog.
        </h6>
      </div>
  </div>
</SiteLayout>
<style>
  .about-section {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #about {
    /* height: 100%; */
    /* min-height: 0; */
    /* flex-grow: 1; */
    background-color: var(--white-color);
    margin-top: var(--border-width);
    padding: calc(var(--border-width) * 3) 0;
    /* scroll-behavior: smooth; */
    /* padding: var(--size-500); */
    /* display: flex; */
    /* align-items: center; */
    
  }
  .her {
    max-width: 90%;
    display: grid;
    justify-content: center;
  }
  .hero {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    place-items: center;
    border: var(--border-width) solid var(--dark-color);
    border-style: solid none;
  }
  .hero-text {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
  }
  p {
    padding: 1rem 0;
  }
  @media screen and (min-width: 1000px) {
    .her {
      width: 50rem;
    }
    .about-section {
      width: 50rem;
    }
}

</style>