---
import "../styles/animations/colorChange.css";
import "../styles/animations/waving.css";
import "../styles/theme.css";
import Mardrian from "../components/backgrounds/Mardrian.astro";
import TitleText from "../components/atoms/TitleText.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout pageTitle="hellaz">
  <Mardrian contentHeight="100%">
    <div class="hero-text">
      <div class="hero">
          <TitleText text="hellloooo iplurabus ipsum and stuff"/>
          <TitleText text="hellloooo iplurabus ipsum and stuff"/>
          <TitleText text="hellloooo iplurabus ipsum and stuff"/>
      </div>
    </div>
  </Mardrian>
  <div>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
  </div>
</SiteLayout>
<style>
.hero {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
}
.hero-text {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  gap: 0.5rem;
}
</style>