---
import "../styles/animations/colorChange.css";
import "../styles/animations/waving.css";
import "../styles/theme.css";
import Mardrian from "../components/backgrounds/Mardrian.astro";
import TitleText from "../components/atoms/TitleText.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout pageTitle="hellaz">
  <Mardrian containerHeight="100%">
    <div class="hero-text">
      <div class="hero">
        <div class="her">
          <h1>Hello <span class="waving">👋</span></h1>
          <h3 class=" light-text">thanks for visiting my site </h3>
          <!-- <span class="">😬</span> -->
          <h6 class="light-text" style="margin-top:1rem;">I'm a senior full-stack designer + developer specializing in component-based design systems, customer development, and lean/agile methodologies.</h6>
          <h5 style="margin-top:1rem;"><a href="">about</a> <span class="light-text">|</span> <a href="">blog</a> <span class="light-text">|</span> <a href="">contact / hire</a></h5>
        </div>
      </div>
    </div>
  </Mardrian>
  <div>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
    <TitleText text="hellloooo iplurabus ipsum and stuff"/>
  </div>
</SiteLayout>
<style>
  .her {
    max-width: 900px;

  }
  .hero {
    /* overflow: auto; */
    overflow: scroll;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    padding: var(--size-300);
    place-items: center;
    /* border: 0.5rem solid var(--dark-color); */
    /* max-width: 900px; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr; */
  }
  .hero-text {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    gap: 0.33rem;
    /* place-items: center; */
  }
  @media screen and (min-width: 800px) and (min-height: 450px) and (orientation: landscape) {
    .hero-text {
      gap: 0.5rem;
    }
}

</style>