---
import "../styles/animations/colorChange.css"
import "../styles/animations/waving.css"
import "../styles/theme.css"
import ModrianGrid from "../components/ModrianGrid.astro";
import TitleText from "../components/atoms/TitleText.astro"
import '@fontsource-variable/montserrat';
---

<div class="scene-container">
  <header>
    <div class="header-logo">
      <h3> marlon <b>frausto</b> </h3>
    </div>
    <ul class="header-navigation">
      <li>
        <a href="/">home</a>
      </li>
      <li class="navigation--h-split">
        <a href="/">about</a>
      </li>
      <li>
        <a href="/">blog</a>
      </li>
    </ul>
    <div class="header-cta">
      <a href="/">contact <br>/ hire</a>
    </div>
  </header>
  
  <main>
    <ModrianGrid contentHeight="90vh">
    </ModrianGrid>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <footer>
    </footer>
  </main>
  
</div>

<style>
  body {
    margin: 0;
  }
  li {
    font-size: 3rem;
    line-height: 6rem;
    font-weight: 600;
    list-style: none;
    background-color: white;
  }
  ul li:nth-child(1) > * {
    color: var(--dark-color);
  }
  ul li:nth-child(1) {
    background-color: var(--light-grey-color);
  }
  ul li:nth-child(2) {
    background-color: var(--yellow-color);
  }
  ul li:nth-child(2) > * {
    color: var(--dark-color);
  }
  ul li:nth-child(3) > * {
    color: var(--dark-color);
  }
  ul li:nth-child(3) {
    background-color: var(--red-color);
  }
.scene-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7fr 1fr;
  grid-auto-rows: 1fr;
  background-color: aqua;
}
main {
  overflow: auto;
  grid-row-start: 1;
  background-color: var(--dark-color);
  z-index: 200;
}
main div {
  background-color: blue;
  height: 500px;
  width: 100px;
  margin: 5px;
}
footer {
  background-color: teal;
  height: 50px;
  width: 100%;
}
header {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  background-color: var(--dark-color);
  padding: 1rem;
}
.header-logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  background-color: white;
  padding-left: 1rem;
}
.header-logo h3 {
  font-size: 4rem;
  line-height: 6rem;
  margin: 0;
  font-weight: 300;
}
.header-navigation {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0;
  text-align: center;
  place-items: stretch;
  margin: 0;
}
.header-cta {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--blue-color);
  font-size: 3rem;
  text-align: center;
  align-items: center;
  display: grid;
}
.header-cta a {
  color: white;
  font-weight: 600;
}

	@media (orientation: landscape) {
		.scene-container {
			/* grid-template-columns: 2fr 1fr; */
      grid-template-rows: 1fr 7fr;
		}
    main {
      grid-row-start: 2;
      margin-top: -1rem;
    }
    header {
      height: 100px;
      grid-row-start: 1;
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-rows: 1fr;
    }
    .header-logo {
      grid-column-start: 1;
      grid-row-start: 1;
      display: grid;
      align-items: center;
      padding-right: 1rem;
    }
    .header-logo h3 {
      font-size: 2.5rem;
      line-height: 3rem;
      text-align: right;
    }
    .header-navigation {
      grid-column-start: 2;
      grid-row-start: 1;
      gap: 0;
      background-color: white;
    }
    /* .header-navigation li {
      background-color: white important!
    } */
    .header-navigation > * ,
    .header-cta {
      font-size: 2rem;
      line-height: 2rem;
    }
    .header-cta {
      grid-column-start: 3;
      grid-row-start: 1;
      grid-row-end: 1;
      /* animation: colorChangeBackground 16s ease 4000ms infinite both; */
    }
    ul li:nth-child(2) > * {
    color: var(--yellow-color);
  }
  ul li:nth-child(1) > * {
    color: var(--grey-color);
  }
  ul li:nth-child(3) > * {
    color: var(--red-color);
  }
  ul.header-navigation li {
    background-color: white;
    place-self: center;
  }
  /* ul li:nth-child(2) {
    background-color: var(--yellow-color);
  }
  ul li:nth-child(2) > * {
    color: var(--dark-color);
  }
  ul li:nth-child(3) > * {
    color: var(--dark-color);
  }
  ul li:nth-child(3) {
    background-color: var(--red-color);
  } */

	}

	/* @media (orientation: portrait) {
		.scene-container {
			grid-template-columns: 1fr;
		}
	} */

	/* @media (orientation: landscape) {
		.scene-container {
			
		}
	}

	@media (orientation: portrait) {
		.scene-container {
			
		}
	} */

</style>