---
import "../styles/animations/colorChange.css"
import "../styles/animations/waving.css"
import "../styles/theme.css"
import ModrianGrid from "../components/ModrianGrid.astro";
import TitleText from "../components/atoms/TitleText.astro"
---

<div class="scene-container">
  <header>
    <div class="logo">
      <h3> Marlon Frausto
    </div>
    <ul class="navigation">
      <li>
        <a>home</a>
      </li>
      <li>
        <a>about</a>
      </li>
      <li>
        <a>blog</a>
      </li>
    </ul>
    <div class="cta">
      <h3>
        <a>contact / hire</a>
      </h3>
    </div>
  </header>
  
  <main>
    <ModrianGrid contentHeight="80vh">

    </ModrianGrid>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <footer>

    </footer>
  </main>
  
</div>

<style>
  body {
    margin: 0;
    /* z-index: -20;
     */
     /* overflow: hidden; */
  }
/* .testy {
} */
.scene-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  grid-auto-rows: 1fr;
  background-color: aqua;
}

main {
  /* display: flex;
  flex-direction: column; */
  overflow: auto;
  /* grid-row-start: 2; */
  background-color: yellow;
  z-index: 200;
}
main div {
  background-color: blue;
  height: 500px;
  width: 100px;
  margin: 5px;
}
footer {
  background-color: orange;
  /* z-index: -2; */
  height: 50px;
  width: 100%;
}
header {
  display: grid;
  /* grid-row-start: 2; */
  grid-template-columns: 1fr 5fr 1fr;
  gap: 1rem;
  /* position: sticky; */
  background-color: red;
  padding: 1rem 1rem 0 1rem;
  /* border: 1rem solid black; */
}
.logo {
  /* grid-column-start: 1; */
  /* grid-column-end: 1; */
  text-align: right;
  background-color: orange;
  /* border-left: 1rem solid; */
}
.navigation {
  /* grid-column-start: 2; */
  /* grid-column-end: 6; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  background-color: orange;
}
.cta {
  /* grid-column-start: 6; */
  /* grid-column-end: 7;  */
  background-color: orange;
  /* border-right: 1rem solid; */
}
/* .body {
  grid-row-start: 3;
} */

  .about {
    color: var(--yellow-color);
  }
  .blog {
    color: var(--red-color);
  }
  .contact {
    color: var(--blue-color);
  }
  .g-child {
    place-self: center center;
  }
  .wave {
    animation-name: waving;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
  .star {
    animation: colorChange 16s ease -12000ms infinite both;
  }
  .bold {
    font-weight: 600;
  }
  .red {
    color: #C32F29;
  }
  .left {
		background-color: white;
		display: grid;
    padding-left: 1rem;
  }
  .right {
    display: grid;
    animation: colorChangeBackground 16s ease -12000ms infinite both;
		outline: 1rem solid #23262d;
  }
  .content {
    background-color: #23262d;
		outline: 1rem solid #23262d;
		grid-column-start: 2;
		grid-row-start: 1;
		grid-template-columns: 4fr 2fr;
		grid-template-rows: 1fr;
    display: grid;
    /* height: auto; */
  }
	/* @media (orientation: landscape) {
		.content {
			grid-template-columns: 2fr 1fr;
		}
	}

	@media (orientation: portrait) {
		.content {
			grid-template-columns: 1fr;
		}
	} */

	@media (orientation: landscape) {
		.scene-container {
			
		}
	}

	@media (orientation: portrait) {
		.scene-container {
			
		}
	}

</style>