---
import "../styles/animations/colorChange.css";
import "../styles/animations/waving.css";
import "../styles/theme.css";
import ArtDivider from "../components/kit/ArtDivider.astro";
import Card from "../components/Card.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout pageTitle="hellaz" pageColor="white">
  <div class="blog-index">
    <div class="blog-index--title">
      <h2><span class="light-text">the </span>blog</h2>
    </div>
    <div class="blog-index--entries">
      <Card/>
      <ArtDivider />
      <Card/>
      <ArtDivider />
      <Card/>
      <ArtDivider />
      <Card/>
      <ArtDivider />
    </div>

  </div>
</SiteLayout>
<style>
</style>