---
import ModrianGrid from "../components/ModrianGrid.astro";
import TitleText from "../components/atoms/TitleText.astro"
import TitleSubText from "../components/atoms/TitleSubText.astro"
---
<ModrianGrid>
  <div class="content">
    <div class="item left">
      <TitleText text="hello world" color="blue"/>
      <TitleSubText text="hello world" color="blue">
        hello <span class="bold red">other</span> world
        </TitleSubText>
    </div>
    <div class="item right">
      <h1> hello world </h1>
    </div>
    
  </div>
</MondrianGrid>

<style>
  .bold {
    font-weight: 600;
  }
  .red {
    color: #C32F29;
  }
  .item {
    border-color: #23262d;
    border-width: 2rem;
    
  }
  .left {border-style: none none solid solid ;}
  .right {border-style: none solid solid solid ;}
  .content {
    grid-template-columns: 1fr 1fr;
    background-color: #ffff;
    margin: 2rem 15vw 32.5vh;
    display: grid;
  }
</style>