---
import TagCloud from "./kit/TagCloud.astro";
const { post } = Astro.props;
const titleHolder = "react vs framework, then vs now";
---
<div class="card">
  <h4 class="light-text">
    {post ? post.frontmatter.title : titleHolder  }
  </h4>
  <TagCloud tags={post.frontmatter.tags}/>
  <div class="meta">
    <h6>{post.frontmatter.category || "design"}</h6>
    <i>last updated on <br> {post.frontmatter.pubDate.slice(0,10)}</i>
  </div>
</div>
<style>
  .card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
  }
  .meta {
    display: grid;
    grid-template-columns: 3fr 6fr;
    align-items: center;
  }
</style>