---
import TagCloud from "./kit/TagCloud.astro";
const { post } = Astro.props;
---
<div class="card">
  <div class="card__title">
    <h4 >
      <a href={ post.url}>
        { post.frontmatter.title }
      </a>
    </h4>
  </div>
  <div class="card__tags">
    <h6 class="--margin-right">tags</h6>
    <TagCloud tags={post.frontmatter.tags}/>
  </div>
  <div class="card__last-update">
    <i>last updated on {post.frontmatter.pubDate.slice(0,10)}</i>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .card__title {
    padding-bottom: 1rem;
  }
  .card__tags {
    display: flex;
    align-items: center;
  }
  .card__last-update {
    text-align: right;
    padding: calc(var(--border-width));
  }
</style>