---
// Supports weights 100-900
import '@fontsource-variable/montserrat';
const { text, color } = Astro.props;
---
<h2>
  {text ? text : <slot/>}
</h2>

<style define:vars={{ color }}>
  h2 {
    font-family: "montserrat";
    color: var(--color);
    font-weight: 300;
  }
</style>