---
import "../styles/theme.css";
import Header from "../components/kit/Header.astro";
import Footer from "../components/kit/Footer.astro";
const { pageTitle, pageColor } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle ? pageTitle : "Marlon Frausto"}</title>
    <link rel="stylesheet" href="/code.css" />
  </head>
  <body>
    <div class="scene-container">
      <header>
        <Header/>
      </header>
      <main>
        <slot />
        <Footer/>
      </main>
    </div>
  </body>
</html>
<style define:vars={{ pageColor }}>
  div.scene-container {
/* restating width in vw as fallback for dvw. can remove vw in 2024*/
    width: 100vw;
    width: 100dvw;
/* restating height in vh as fallback for dvh. can remove vh in 2024*/
    height: 100vh;
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    border: solid var(--border-width) var(--dark-color);
  }
  header {
    grid-row: 3;
  }
  main {
    height: 100%;
    overflow: auto;
    grid-row: 1/3;
    background-color: var(--pageColor);
    scroll-behavior: smooth;
  }
  /* and (min-height: 450px) and (orientation: landscape)  */
  @media screen and (min-width: 600px) {
    header {
      grid-row: 1/2;
    }
    main {
      grid-row: 2/4;
    }
  }
</style>